<%= link_to "Back to books", books_path, :class => 'back-link' %>

<div class="tasks new">
  <h2>New Book</h2>

  <%= form_for(@book) do |f| %>
    <% # url: books_path, method: 'post' %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Add New Book") %>
    </div>

  <% end %>
</div>